{% for writeup in writeups %}
<a href="{{ writeup.get_absolute_url }}" class="writeup-row">
  <div class="writeup-left">
    <div class="writeup-dot"></div>
    <span class="writeup-title">{% if writeup.featured %}<span class="featured-badge">★</span>{% endif %} {{ writeup.title }}</span>
  </div>
  <div class="writeup-right">
    <span class="writeup-tag">{{ writeup.primary_tag }}</span>
    <span class="writeup-date mono">{{ writeup.date|date:"m-d-Y" }}</span>
  </div>
</a>
{% empty %}
<div class="writeup-row">
  <div class="writeup-left">
    <div class="writeup-dot writeup-dot--empty"></div>
    <span class="writeup-title writeup-title--empty">No results found</span>
  </div>
</div>
{% endfor %}
